<div class="dialog-container">
  <h1>Add external email</h1>
  <form [formGroup]="externalEmailForm">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Add External Email"
        type="email"
        formControlName="email"
      />
      <mat-error
        *ngIf="externalEmailForm?.controls?.email?.hasError('required')"
        >This field is required</mat-error
      >
      <mat-error *ngIf="externalEmailForm?.controls?.email?.hasError('email')"
        >This field has to have the format i.e: name@domain.com</mat-error
      >
    </mat-form-field>
  </form>
  <div class="actions">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="externalEmailForm.getRawValue()" [disabled]="externalEmailForm.invalid">Save</button>
  </div>
</div>
